/* ===== Body ===== */
body {
    display: flex;
    flex-direction: column;
    /* stack header, main, footer vertically */
    min-height: 100vh;
    /* full viewport height */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

footer {
    background-color: #333;
    color: #fffdfa;
    padding: 15px 20px;
}


main {
    height: 56vh;
    width: 50vh;
}

/* ===== Header and Footer ===== */
header,
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.wrapper {
    display: flex;
    /* flex-direction: column; */

}


/* ===== Box container ===== */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* horizontal alignment of boxes */
    gap: 2rem;
    padding: 20px;
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #fffdfa;
}

/* ===== Box ===== */
.box {
    background-color: #fffdfa;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;

}

/* Hover effect for boxes */
.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    cursor: pointer;
}
