/* ===== Body ===== */
body {
    min-height: 100vh;

    background-color: #fffdfa;
    /* full viewport height */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    height: 87vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: beige;
    border: 2px solid black;
    border-radius: 15px;
}


/* ===== Box container ===== */
.container {
    text-align: center;
    margin: 0 auto;

    /* horizontal alignment of boxes */
    padding: 1rem;
    /* right: 50%; */
}

/* ===== Box ===== */
.box {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;

}

/* Hover effect for boxes */
.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    cursor: pointer;
}
