.randomRegister-Container,
.register-container {
    display: flex;
    flex-direction: row;
    gap: 1px;

    /*align in x*/
    justify-content: center;
    /*align in y*/
    align-items: center;

    overflow-x: scroll;
    /* scroll horizontal se necessário */
    padding: 10px;
    margin: 2%;
    /* wrap se não couber horizontalmente */
    flex-wrap: nowrap;
    height: 87vh;
}

.randomRegister-Container {
    opacity: 40%;
    background-color: red;
    height: 1px;
    padding: 15px;

    /*cursor type in script*/
    overflow-x: hidden;
    overflow-y: hidden;

}

.register-container {
    align-items: left;
    justify-content: flex-start;
}


.randomRegister,
.register {
    border: 2px solid black;
    border-radius: 4px;

    /* mais compacto */
    flex: 0 0 10px;


    /* size */
    height: 10px;
    width: 2%;
    /* altura fixa */
    display: flex;
    /* para centralizar conteúdo */
    align-items: center;

    /* interaction */
    transition: all 0.3s ease;
    /* cursor: pointer; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.register:hover {
    background-color: purple;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
